import /microtrust.rc

on early-init
    start adbd

on init
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.configfs 1


# We need vold early for metadata encryption
on early-fs
    start vold

on fs
    install_keyring

on post-fs

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service servicemanager /system/bin/servicemanager
    disabled
    group system readproc
    seclabel u:r:servicemanager:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0-beanpod /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    write /proc/bootprof "start teei_daemon (on fs)"
    start teei_daemon
    write /proc/bootprof "start teei_daemon end (on fs)"
    start keymaster-4-0-beanpod
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymaster-4-0-beanpod
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop keymaster-4-0-beanpod
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop keymaster-4-0-beanpod
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on late-fs
   … 
    # Wait for keymaster
    exec_start wait_for_keymaster

    # Mount RW partitions which need run fsck
    mount_all /vendor/etc/fstab.${ro.boot.hardware.platform} --late
